/output_Unity/Library
/output_Unity/Temp
/output_Unity/Logs
/output_Unity/UserSettings
/output_Unity/Builds
/output_Unity/Tests/HarvestRewards/Artifacts
/output_Unity/mono_crash.*
/output_Unity/Tools/__pycache__/
